.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#components {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
  overflow-y: scroll;
  margin-top: -18px; /* I dont why there is a gap between this and the header, but I don't have to mantain this so I'm cheating.*/
}

.card-small {
  width: 320px;
}

.thin-input {
  display: flex;
}

.song-selector {
  position: absolute;
  bottom: 0;
  background-color: white;
  box-shadow: 0px 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.mm-popup.mm-popup--visible {

}

.mm-popup__box {
  position: fixed;
  width: 400px;
  height: 400px;
  top: 50%;
  margin-top: -200px;
  left: 50%;
  margin-left: -200px;
  background-color: white;
  z-index: 200;
  display: flex;
  flex-direction: column;
}
.mm-popup__box__body {
  overflow-y: scroll;
}

.code {
  background-color: #dadada;
}

.custom-var {
  display: flex;
  align-items: baseline;
}

.custom-var span {
  font-style: bold;
  width: 10px;
}

.custom-var-name {
  flex-shrink: 0;
  width: 55px !important;
}


#default-music-loader {
  display: flex;
  justify-content: space-between;
}

#infoButton {
  top: 5px;
  left: 5px;
  position: absolute !important;
}

.song {
  flex-grow: 10;
  font-style: italic;
}

#hint {
  position: fixed;
  top: 300px;
  right: 360px;
}

#hint-content {
  width: 191px;
  display: flex;
  height: 40px;
  vertical-align: middle;
  line-height: 20px;
  padding: 5px;
}

#hint::after {
  position: absolute;
  content: "";
  border: 10px solid white;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: white;
  right: -20px;
  top: 20px;
}

#hint-close-button {
  height: auto !important;
  width: auto !important;
  padding: 0 10px 0 5px !important;
}

